.productShowcase {
  background-color: #fff;
  position: relative;
  padding: 7rem 0;
}

.productShowcase__heading {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--textColor);
}

.productShowcase__heading::after {
  display: block;
  content: '';
  margin: 0.5rem 0;
  border-bottom: 4px dashed var(--primary-color);
  width: 220px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.productCard__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px 0;
}

.productCard {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}


figure p.small {
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}

figure h3+p {
  font-size: 0.8125rem;
}


img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}

figcaption {
  position: absolute;
  inset: 0;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

figcaption main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

figure footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

figure main,
figure footer {
  opacity: 0;
}

figure:hover figcaption {
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
}

figure:hover main,
figure:hover footer {
  opacity: 1;
}

figcaption {
  z-index: 1;
}

figcaption::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
}

figure:hover figcaption::before {
  opacity: 1;
}

figure img {
  transform: scale(1.2);
  transition-property: transform;
}

figure:hover img {
  transform: scale(1);
}

figure {
  overflow: hidden;
}

figure main {
  transform: translate3d(0, -6rem, 0);
  transition-property: opacity, transform;
}

figure footer {
  transform: translate3d(0, 6rem, 0);
  transition-property: opacity, transform;
}

figure:hover main,
figure:hover footer {
  transform: translate3d(0, 0, 0);
}

figure:hover footer img {
  transform: translate3d(0, 0, 0) rotate(0);
  opacity: 1;
}

figcaption::before,
figure img,
figure main,
figure footer {
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
}

.golive__button {
  color: white;
  text-decoration: none;
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 531px) and (max-width: 768px) {
  figcaption {
    gap: 0.5rem;
    padding: 1rem;
  }

  figure h3+p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 414px) {
  figcaption {
    gap: 0.25rem;
    padding: 0.5rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  figure h3+p {
    font-size: 0.5rem;
  }

  .productShowcase__heading {
    font-size: 1.25rem;
  }

  .productShowcase__heading::after {
    width: 160px;
  }

}

@media screen and (min-width: 415px) and (max-width: 768px) {
  figcaption {
    gap: 0.25rem;
    padding: 0.5rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  figure h3+p {
    font-size: 0.5rem;
  }

  .productShowcase__heading {
    font-size: 1.5rem;
  }

  .productShowcase__heading::after {
    width: 160px;
  }

}

.btn-submit {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 20%;

}

.btn-submit:hover {
  background: #03795d;
}