.teamInfo {
  background: #f5f2f0;
  position: relative;
}

.teamInfo__heading {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.teamInfo__heading::after {
  display: block;
  content: '';
  margin: 0.5rem 0;
  border-bottom: 4px solid var(--primary-color);
  width: 160px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

}

.profileCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.profileCard {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* transition: transform 0.3s ease-in; */
}

.overlay__container {
  max-width: 350px;
  padding: 40px;
  margin: 30px 20px 20px 0;
  position: relative;
}

.overlay__container .profileImage > img {
  display: block;
  width: 100%;
  
}

.overlay__container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.overlay__container:hover::after {
  opacity: 1;
}

.overlay__containerContents {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: justify;
  font-size: 0.75rem;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out
}

.overlay__container:hover .overlay__containerContents {
  opacity: 1;
  left: 50%;
  top: 50%;
}


.icon {
  display: inline-block;
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: background 0.5s ease-in-out;
}

.githubIcon:hover {
  background: #101010;
  border: 1px solid #101010;
}

.linkedinIcon:hover {
  background: #0a66c2;
  border: 1px solid #0a66c2;
}


.profileImage > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.profileName {
  color: #333;
  text-align: center;
}
.profileDesignation {
  color: var(--primary-color);
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
