.teamInfo {
  background: #f5f2f0;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.teamInfo__heading {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: 40px;
  color: var(--textColor);
}

.teamInfo__heading::after {
  display: block;
  content: '';
  margin: 0.5rem 0;
  border-bottom: 4px dashed var(--primary-color);
  width: 160px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.teamInfo__pitchContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.teamInfo__image {
  width: 60%;
}

.teamInfo__image>img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px;
}

.pitchIllustrations {
  width: 35%;
}

.illustration1,
.illustration2,
.illustration3 {
  margin: 1.5rem 0;
  color: var(--textColor);
}


.profileCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.profileCard {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.overlay__container {
  max-width: 350px;
  padding: 40px;
  margin: 30px 20px 20px 0;
  position: relative;
}

.overlay__container .profileImage>img {
  display: block;
  width: 100%;

}

.overlay__container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.overlay__container:hover::after {
  opacity: 1;
}

.overlay__containerContents {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: justify;
  font-size: 0.75rem;
  opacity: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out
}

.overlay__container:hover .overlay__containerContents {
  opacity: 1;
  left: 50%;
  top: 50%;
}


.icon {
  display: inline-block;
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  margin-top: 1rem;
  margin-right: 1rem;
  transition: background 0.5s ease-in-out;
}

.githubIcon:hover {
  background: #101010;
  border: 1px solid #101010;
}

.linkedinIcon:hover {
  background: #0a66c2;
  border: 1px solid #0a66c2;
}


.profileImage>img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.profileName {
  color: #333;
  text-align: center;
}

.profileDesignation {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


@media screen and (max-width: 414px) {
  .teamInfo__pitchContents {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .teamInfo__image {
    width: 100%;
  }

  .pitchIllustrations {
    width: 100%;
  }


  .teamInfo__heading {
    font-size: 1.25rem;
  }

  .teamInfo__heading::after {
    width: 120px;
  }

  .profileName {
    font-size: 1.125rem;
    padding-top: 0.35rem;
  }

  .profileDesignation {
    font-size: 0.95rem;
  }

  .profileImage>img {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {

  .teamInfo__pitchContents {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .teamInfo__image {
    width: 100%;
  }

  .pitchIllustrations {
    width: 100%;
  }

  .teamInfo__heading {
    font-size: 1.5rem;
  }

  .teamInfo__heading::after {
    width: 150px;
  }

  .profileName {
    font-size: 1.5rem;
    padding-top: 0.35rem;
  }

  .profileDesignation {
    font-size: 1rem;
  }

  .profileImage>img {
    width: 210px;
    height: 210px;
    object-fit: contain;
  }
}