.gototop {
  position: fixed;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #153343;
  bottom: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  opacity: 0;
  transition: opacity .3s ease, margin-right .5s ease-out;
}

button.visible {
  transition: opacity .3s ease, margin-right .5s ease-out !important;
  /* margin-right: 5px !important; */
  opacity: 1 !important;
}

.gototop::before,
.gototop::after {
  content: '';
  position: absolute;
  height: 18px;
  width: 4px;
  background-color: #fff;
  top: 16px;
}

.gototop::before {
  left: 18px;
  transform: rotate(45deg);
}

.gototop::after {
  right: 18px;
  transform: rotate(-45deg);
}