.about {
  position: relative;
}
.about__heading {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.about__heading::after {
  display: block;
  content: '';
  margin: 0.5rem 0;
  border-bottom: 4px solid var(--primary-color);
  width: 160px;
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__left > img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.about__right > p {
  color: gray;
  line-height: 1.75rem;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 2rem;
}