.contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.contact__heading {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--textColor);
}

.contact__heading::after {
  display: block;
  content: '';
  margin: 0.5rem 0;
  border-bottom: 4px dashed var(--primary-color);
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 414px) {
  .contact__heading {
    font-size: 1.25rem;
  }


  .contact__heading::after {
    width: 130px;
  }
}

@media screen and (min-width:415px) and (max-width: 768px) {
  .contact__heading {
    font-size: 1.5rem;
  }


  .contact__heading::after {
    width: 150px;
  }
}