
.form-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.fullName {
  display: flex;
  gap: 1rem;
}


.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.email-input {
  width: 100%;
}

.message-input {
  width: 100%;
  height: 150px;
  padding: 15px;
  line-height: 1.5;
  
}

.companyDetails {
  display: flex;
  gap: 1rem;
}

label {
  font-size: 20px;
  font-weight: 500;
  margin: 0.5rem 0;
}

input, textarea {
  font-size: 20px;
  line-height: 15px;
  text-align: left;
  letter-spacing: normal;
  border: 1px solid #aaa;
  height: 50px;
  padding: 4px 9px 4px;
  margin: 0;
  background: linear-gradient(to bottom, #dddddd 0%,#f6f6f6 32%);
  box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
  font-family: inherit;
}

.btn-submit {
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-submit:hover {
  background: #03795d;
}

@media screen and (max-width: 768px) {

.form-header h1 {
  font-size: 1.85rem;
}


.fullName {
  display: flex;
  gap: 1rem;
}


.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.email-input {
  width: 100%;
}

.message-input {
  width: 120%;
  height: 150px;
  padding: 15px;
  line-height: 1.5;
  
}

.companyDetails {
  display: flex;
  gap: 1rem;
}

label {
  font-size: 15px;
  font-weight: 500;
  margin: 0.5rem 0;
}

input, textarea {
  font-size: 15px;
  line-height: 12px;
  text-align: left;
  letter-spacing: normal;
  border: 1px solid #aaa;
  height: 40px;
  padding: 4px 9px 4px;
  margin: 0;
  background: linear-gradient(to bottom, #dddddd 0%,#f6f6f6 32%);
  box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
  font-family: inherit;
}


.btn-submit {
  padding: 0.5rem 1.25rem;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.25rem;
  cursor: pointer;
}

}