.header {
  background: rgb(248, 246, 246);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

}

.header__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__brandImage {
  width: 180px;
  height: 80px;
}


.header__right .nav__links {
  display: flex;
  padding: 20px;
}

.nav__link {
  list-style: none;
  font-size: 1.10rem;
  font-weight: 500;
  cursor: pointer;
}

.nav__link > a {
  padding:  1rem 1.5rem;
  text-decoration: none;
  color: #333;
}


.nav__link > a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.nav__link > a.active {
color: var(--primary-color);
}

  .menuIcon {
    cursor: pointer;
    color: gray;
    font-size: 28px;
    margin-right: 15px;
    vertical-align: middle;
  }

  .menuIcon:hover {
    background-color: var(--primary-color);
    color: #000000;
  }

  @media screen and (max-width: 768px) {
    .nav__links {
      display: none !important;
      position: absolute;
      top: 5rem;
      left: 0;
      background-color: #f8f8f8;
      padding: 20px;
      width: 100%;
      transition: opacity 0.3s ease;
    }
  
    .nav__links.open {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      background-color: white;
      opacity: 0.94;
    }
  
    .menuIcon {
      display: block;
    }
  }
  
  @media screen and (min-width: 769px) {
    .menuIcon {
      display: none;
    }
  }