.header {
  background: var(--primary-color);
  opacity: 0.97;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__brandImage {
  width: 180px;
  height: 80px;
}


.header__right .nav__links {
  display: flex;
  padding: 15px;
  font-family: inherit;
}

.nav__link {
  list-style: none;
  font-size: 1.10rem;
  font-weight: 500;
  cursor: pointer;
}

.nav__link>a {
  padding: 0.5rem;
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
}


.nav__link>a:hover,
.nav__link>a.active {
  border-bottom: 3px dashed #fff;
}


.menuIcon {
  cursor: pointer;
  color: gray;
  font-size: 28px;
  margin-right: 15px;
  vertical-align: middle;
  padding: 10px;
  color: #000000;
}

.menuIcon:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 414px) {

  .header__brandImage {
    width: 150px;
    height: 70px;
  }

  .nav__links {
    display: none !important;
    position: absolute;
    top: 4.25rem;
    left: 0;
    background-color: var(--primary-color);
    padding: 20px;


  }

  .nav__links.open {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    background-color: var(--primary-color);
    opacity: 0.95;

  }

  .menuIcon {
    display: block;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .nav__links {
    display: none !important;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: var(--primary-color);
    padding: 20px;
    width: 100%;
    transition: opacity 0.3s ease;
  }

  .nav__links.open {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--primary-color);
    opacity: 0.94;
  }

  .menuIcon {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .menuIcon {
    display: none;
  }
}