.header {
  background: rgba(248, 246, 246, 0.92);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header__contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__brandImage {
  width: 180px;
  height: 80px;
}
/* .header__brand {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  letter-spacing: 0.25rem;
} */

/* .only__w {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primary-color);
} */

.header__right .nav__links {
  display: flex;
  padding: 20px;
}

.nav__link {
  list-style: none;
  
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.nav__link > a {
  padding:  1rem 1.5rem;
  text-decoration: none;
  color: #333;
}

.nav__link> a:hover {
  background-color: var(--primary-color);
  color: #fff;
  }