.footer {
  padding-top: 1rem;
  margin-top: 2rem;
  background: var(--primary-color);
  color: #fff;
}

.footer__left .footer__image {
  width: 400px;
  height: 200px;
}

.footer__contents {
  display: flex;
  justify-content: space-between;
}

.footer__right>p:nth-child(1) {
  font-size: 2rem;
}

.copyright__text {
  background: #03795d;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem;
  padding-top: 2rem;
}

.companyLocation {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.companyLocation>a {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.companyEmail {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.companyEmail>a {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.companyPhone {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.companyPhone>a {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.companySiteListings {
  display: flex;
  gap: 1rem;

}

.companySiteListings a {
  color: #fff;
  width: 100%;
  height: 100%;
}

.fb,
.linkedin,
.x {
  font-size: 3rem;
  background: transparent;
  transition: all 300ms ease-in-out;
}

.fb:hover {
  fill: #4267B2;
  stroke: #fff;
  background-color: #fff;
}

.linkedin:hover {
  fill: #0a66c2;
  stroke: #fff;
  background-color: #fff;
}

.x:hover {
  fill: #14171A;
  stroke: #fff;
  background-color: #fff;
}

.disclaimer__text {
  background: #03795d;
  text-align: center;
  color: #ffffff;
  padding-bottom: 2rem;
}

@media screen and (max-width: 414px) {
  .footer__left .footer__image {
    width: 200px;
    height: 100px;
  }

  .footer__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__right {
    width: 80%;
  }

  .footer__right h2 {
    font-size: 1rem;
  }

  .companyLocation>a,
  .companyEmail>a,
  .companyPhone>a {
    font-size: 0.875rem;
  }

  .companySiteListings a>svg {
    font-size: 1.75rem;
  }

  .copyright__text {
    font-size: 1rem;
    font-weight: 600;
  }

  .disclaimer__text {
    font-size: 0.875rem;
  }

}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .footer__left .footer__image {
    width: 250px;
    height: 140px;
  }

  .footer__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__right {
    display: flex;
    flex-direction: column;
  }

  .footer__right h2 {
    font-size: 1.25rem;
  }

  .companyLocation>a,
  .companyEmail>a,
  .companyPhone>a {
    font-size: 1rem;
  }


  .companySiteListings a>svg {
    font-size: 2rem;
  }

  .copyright__text {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .disclaimer__text {
    font-size: 1rem;
  }

}